/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {

  box-sizing: border-box;

}

*, *:before, *:after {

  box-sizing: inherit;

}


body {

  background-color: #f2f2f2;

}

/** Globales **/

.contenedor {
  width: 98%;
  margin: 0 auto;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

@media only screen and (min-width: 480px) {

  .contenedor {
    width: 95%;


  }
}

@media only screen and (min-width: 768px) {

  .contenedor {
    width: 90%;


  }
}

@media only screen and (min-width: 992px) {

  .contenedor {
    width: 90%;
    max-width: 1100px;


  }
}

h2 {
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;

}


h2::after {
  content: '';
  margin: 0 auto;
  background-image: url("../img/separador.png");
  height: 30px;
  width: 100px;
  display: block;

}

h3 {
  font-size: 1.8em;
  color: #fe4918;
  margin: 0;

}

.seccion {
  padding: 30px 0px;

}

.buton {

  background-color: #fe4918;
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid #fe4918;
}

.buton.hollow,
.buton.hollow:hover {

  background-color: white;
  color: #fe4918;

}

.buton.transparente {
  background-color: transparent;
  border: 2px solid white;

}

.buton.transparente:hover {

  border: 2px solid #fe4918;
}


.float-right {

  float: right;
}

.buton:hover {
  background-color: #e33000;

}

.seccion p {
  font-size: 1.2em;
  text-align: center;

}


/** Header **/

div.hero {
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;

}

div.contenido-header {
  padding-top: 40px;

}

@media only screen and (min-width: 768px) {
  div.contenido-header {

    padding-top: 10px;
  }

}

nav.redes-sociales {
  text-align: center;


}

nav.redes-sociales a {
  margin-top: 10px;
  font-size: 2em;
  margin-right: 20px;


}

nav.redes-sociales a:last-child {

  margin-right: 0;
}

div.informacion-evento {
  text-align: center;
  color: white;
}

div.informacion-evento p {
  margin: 0px;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;


}

@media only screen and (min-width: 768px) {
  div.informacion-evento {

    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }

}

div.informacion-evento p i {

  color: #fe4918;

}

p.fecha {
  float: left

}

p.ciudad {

  float: right;
  text-align: right;
}


/** Barra **/


div.barra {
  background-color: #353535;

}

div.logo {

  width: 80%;
  float: left
}

div.logo img {

  width: 100%;
}

@media only screen and (min-width: 768px) {

  div.logo {

    width: 33%;

  }

}

/** navagacion principal **/

/*nav.navegacion-principal {
 display: none;


}*/

nav.navegacion-principal a {
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .6s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;


}

nav.navegacion-principal a:hover {
  background-color: #fe4918;


}

nav.navegacion-principal a:last-child {

  border: 2px solid #fe4918;
  color: #fe4918;


}

nav.navegacion-principal a:last-child:hover {


  color: white;

}


@media only screen and (min-width: 768px) {
  div.navegacion-principal {
    width: 67%;
    float: right;
    text-align: right;
    display: block;

  }

  nav.navegacion-principal a {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 20px 10px 0 0;
    padding: 10px 10px;
  }

}


/** menu movil **/

div.menu-movil {

  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  div.menu-movil {
    display: none;
  }
}

div.menu-movil span {

  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}


/** Talleres **/

section.programa {

  position: relative;

}

div.contenedor-video {
  max-width: 100%;
  overflow-x: hidden;

}

div.contenido-programa {
  position: absolute;
  top: 10px;
  left: 40px;
  height: 100%;
  width: 100%;

}

div.programa-evento {

  background-color: rgb(255, 255, 255, .8);
  padding: 15px;
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  div.programa-evento {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  div.programa-evento {
    width: 50%;
  }
}

nav.menu-programa {

  width: 100%;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;

}

@media only screen and (min-width: 768px) {
  nav.menu-programa {
    display: table;
  }
}


nav.menu-programa a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2em;


}

@media only screen and (min-width: 768px) {
  nav.menu-programa a {
    display: table-cell;
  }
}

nav.menu-programa a i,
div.detalle-evento p i {

  color: #fe4918;
  font-size: 1.6em;
  margin-right: 10px;

}


/** detelle evento **/

div.detalle-evento {

  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;

}

div.detalle-evento:nth-child(2) {

  border: none;

}

div.detalle-evento p {

  margin-bottom: 20px;
  font-size: 20px;

}

/** Invitados **/

ul.lista-invitados li {
  padding: 10px;
  float: left;

}

@media only screen and (min-width: 480px) {

  ul.lista-invitados li {
    width: 50%;

  }

}

@media only screen and (min-width: 768px) {

  ul.lista-invitados li {
    width: 33.3%;

  }

}

div.invitado {

  position: relative;
  overflow: hidden;
}

div.invitado img {

  max-width: 100%;

  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out;


}

div.invitado img:hover {

  -webkit-filter: grayscale(0);
  transform: scale(1.1) rotate(3deg);


}

div.invitado p {

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 15px;
  margin: 0;
  background-color: rgba(0, 0, 0, .55);
  width: 100%;
  text-align: left;
  color: #fe4918;;
  text-transform: uppercase;
  transition: all .5s ease-in-out;


}

div.invitado:hover p {

  bottom: -80px;
  opacity: 0;


}

/** Contador **/
.paralax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
  content: '';
}

div.contador {
  position: relative;
  height: auto;
}

div.contador::before {
  background-image: url("../img/bg-resumen.jpg");
  content: '';

}

ul.resumen-evento {
  position: relative;
  padding: 120px 0;


}

ul.resumen-evento li {
  width: 50%;
  float: left;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 24px;


}

@media only screen and (min-width: 768px) {
  ul.resumen-evento li {
    width: 25%;

  }
}

p.numero {

  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
}

/** Tabla de precios **/
ul.lista-precios > li {

  padding: 10px;


}

@media only screen and (min-width: 768px) {
  ul.lista-precios > li {

    float: left;
    width: 33.3%;
  }
}

div.table-precio {
  border: 1px solid #e1e1e1;
  background-color: white;
  padding: 40px 0;
  text-align: center;
  transition: all .3s ease;


}

div.table-precio:hover {
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0px 0px 50px #666;

}


div.table-precio ul li {

  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868686;
  line-height: 26px;
}

div.table-precio ul li::before {
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: '\f00c';

}

div.table-precio h3 {

  font-size: 16px;
  text-transform: uppercase;

}

div.table-precio p.numero {

  color: black;
  margin: 20px 0;
}

/** mapa **/

div.mapa {
  height: 420px;
  background-color: green;

}

/** Testimoniales **/

div.testimoniales {

  padding-bottom: 20px;

}

div.testimonial {

  padding: 5px;

}

@media only screen and (min-width: 768px) {
  div.testimonial {
    float: left;
    width: 33.3%;
  }
}

blockquote {
  background-color: white;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;

}

blockquote p {

  text-align: justify !important;
  font-size: .8em !important;
  padding: 0 20px 0 65px;


}

blockquote p::before {
  content: '\201c';
  position: absolute;
  left: 13px;
  top: -8px;
  margin: 0;
  font-size: 8rem;
  padding: 0;
  line-height: 1;
  color: #fe4918;


}

footer.info-testimonial {

  padding: 0;


}


footer.info-testimonial img {

  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;


}

footer.info-testimonial cite {

  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;


}

footer.info-testimonial cite span {

  color: #000000;
  display: block;
  text-transform: none;


}

/** Newsletter **/

div.newsletter {

  position: relative;
  height: auto;
}

div.newsletter::before {

  background-image: url("../img/bg-newsletter.jpg");
  content: '';
}

div.newsletter .contenido {
  padding: 100px 0;
  color: white;
  text-align: center;
  position: relative;


}

div.newsletter .contenido p {
  font-size: 1.2em;
  text-transform: lowercase;


}

div.newsletter .contenido h3 {
  color: white;
  text-transform: uppercase;
  font-size: 7vw;


}

/** Cuenta regresiva **/

div.cuenta-regresiva ul li {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;

}

@media only screen and (min-width: 768px) {

  div.cuenta-regresiva ul li {
    width: 25%;
    float: left;

  }

}

/** footer **/

footer {
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}

footer.site-footer .contenedor > div {
  color: white;
  padding: 0px 20px;
  font-size: 12px;


}

@media only screen and (min-width: 768px) {
  footer .contenedor > div {
    width: 33.3%;
    float: left;
  }

}

footer.site-footer h3 {
  color: white;
  text-transform: uppercase;

}
footer.site-footer h3 span {
  color: #fe4918;


}

footer.site-footer .ultimos-tweets li {

  margin-bottom: 10px;
}

footer.site-footer nav.redes-sociales {

  text-align: left;
}
p.copyraight {
  background-color: #2e2e2e;
  color: white;
  padding: 10px 0;
  margin: 0;
  text-align: center;


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

